@import url('https://fonts.googleapis.com/css2?family=Nothing+You+Could+Do&family=Nunito+Sans:ital,wght@0,300;0,400;0,700;0,900;1,300&family=Orbitron:wght@400;500;600;700;900&display=swap');

/* Generales*/

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root{
    --theme-color: whitesmoke;
    --theme-color2: rgb(160,204,232);
    --theme-color3:  lightsalmon;
    --primary-color: #6495ed;
    --secundary-color: rgb(0,184,191);
    --text-color-inverse: white;
    --text-color: black;
    --menu-mobile-background-color: rgb(53,99,139);
    --color-gradient:linear-gradient(90deg, rgba(53,99,139,1) 0%, rgba(0,184,191,1) 35%, rgba(0,212,255,1) 100%);
    --navbar-shadow-color: grey;
    --color-alt1: rgb(53,99,139);
    --color-alt2: rgb(99,142,240);
    --color-green: rgb(0,255,126);
    --color-grey: grey;
    --color-box-shadow1:rgba(0, 0, 0, 0.75);
    --color-box-shadow2: rgba(0, 0, 0, 0.2);
  
}

html{
    height: 100%;
    font-size: 62.5%;
}

body{
    font-family: 'Nunito Sans', sans-serif;
    font-size: 1.6rem;
    min-height: 100%;
  
}

.grid-container > *{
    box-shadow: -1px 1px 7px 0px var(--color-box-shadow1);
    border: 4px;
    padding: 10px;
    text-align: center;
}       

.header{
    grid-area: header;
    background-color: var(--primary-color);
    height: 80px;
    position: fixed;
    width: 100%;
    top:0;
    left:0;
}

span{
    color: var(--color-green);
}

.rrss{
    grid-area: rrss;
    background-color: var(--theme-color2);  
    margin: 0;
    padding: 0;
}

.main{
    grid-area: main;
    background-color: var(--theme-color);
    background: url(../media/imagenes/hero1.jpg) no-repeat;
    background-size: cover;
    height: 100%;
}

.footer{
    grid-area: footer;
    background: rgb(53,99,139);
    background: linear-gradient(90deg, rgba(53,99,139,1) 0%, rgba(0,184,191,1) 35%, rgba(0,212,255,1) 100%);    
}

.grid-container{
    display: grid;
    gap: 10px;  
    grid-template: 
    "header" 80px
    "rrss"   40px
    "main" auto
    "footer" 60px;
    padding: 0 10px;
}

 /*NAVBAR*/

 /* LOGO */

.logo{
    display: flex;
    align-items: center;
    color: var(--text-color-inverse);
    margin: 0;
    padding: 0;
   
}

.logo img{
    border-radius: 20%;
    width: 80px;
    height: 50px;
}

.logo h1{
    font-size: 2rem;
    font-family: orbitron, sans-serif;  
    padding: 0 1.5rem;
}

/*MENU*/ 

.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 992px;
    margin: 0 auto;
}

.nav-link{
    color: var(--theme-color);
    text-decoration: none;
}

/*.logo{
    font-size: 3rem;
    font-weight: bold;
    padding: 0 40px;
    line-height: 80px;
}*/

.nav-menu{
    display: flex;
    margin-right: 40px;
    list-style: none;
}

.nav-menu-item{
    font-size: 1.8rem;
    margin: 0 10px;
    line-height: 80px;
    text-transform: uppercase;
    width: max-content;
}

.nav-menu-link{
    padding:8px 12px;
    border-radius: 3px;
}

.nav-menu-link:hover,
.nav-menu-link_active{
    transition: 0.5s;
    background: rgb(53,99,139);
    background: linear-gradient(90deg, rgba(53,99,139,1) 0%, rgba(0,184,191,1) 35%, rgba(0,212,255,1) 100%);
}

.nav-toggle{
    color: var(--text-color-inverse);
    background: none;
    border: none;
    font-size: 30px;
    padding: 0 20px;
    line-height: 60px;
    display: none;
    cursor: pointer;

}

/* RRSS */

.rrss-menu{
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    list-style: none;
    line-height: 40px;
    padding: 0 10px;
}

.rrss-menu-item{
    background-color: inherit;
}

.rrss-menu-link{
    font-size: 3rem;
    color: var(--color-grey);
    text-align: center;
}

.icon-whatsapp{
    color: var(--color-green);
}

.buttonside{
    text-decoration: none;
    padding: 0.5rem;
    border-radius: 15px;
    border: 1px solid var(--color-alt1);
    background-color: transparent;
    font-weight: 500;
    cursor: pointer;
    color: var(--color-alt1);
}

.buttonside:hover{
    color: var(--color-alt1);
    border: 1px solid var(--color-green);
    background: var(--theme-color);
}

/* MAIN - CONTENIDO PRINCIPAL */

/*  HERO */

.hero{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

}
.hero h2{
    font-family: orbitron, sans-serif;
    font-size: 2rem;
    color: var(--text-color-inverse);
    margin-top: 1rem;
}

.hero h3{
    font-family: nothing you could do, sans-serif;
    color: var(--color-alt1);
    font-size: 1.5rem;
    margin-top: 1rem;
    text-align: center;
}

p{
    font-family: nunito sans, sans-serif;
    color: var(--color-alt1);
    font-size: 2rem;
    margin-top: 1.5rem;
    text-align: center;
}

.hero button{
    text-decoration: none;
    padding: 0.5rem;
    margin-top: 1rem;
    border-radius: 15px;
    border: 1px solid var(--color-alt1);
    background-color: transparent;
    font-weight: 700;
    cursor: pointer;
    color: var(--color-alt1);
}

.hero button:hover{
    color: var(--theme-color);
    border: 1px solid var(--color-green);
    background: rgb(53,99,139);
    background: linear-gradient(90deg, rgba(53,99,139,1) 0%, rgba(0,184,191,1) 35%, rgba(0,212,255,1) 100%);
}

/*  NOMADE  */

.nomade-menu{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--navbar-shadow-color);
    text-align: center;
    text-decoration: none;
    list-style: none;
    margin: 4rem auto;
}

.nomade-item{
    text-align: center;
    color: var(--navbar-shadow-color);
    font-family: 'Orbitron', sans-serif;
    font-size: 1.6rem;
    width: 200px;
    padding: 20px;
    margin: 20px;
    box-shadow: 1px 2px 3px var(--color-grey);
    background-color: var(--color-alt1);
    border-radius: 10%;
}
.nomade-link{
    text-decoration: none;
    color: var(--color-green);
}
.nomade-item:hover{
    transition: 0.5s;
    background: rgb(53,99,139);
    background: linear-gradient(90deg, rgba(53,99,139,1) 0%, rgba(0,184,191,1) 35%, rgba(0,212,255,1) 100%);
}
.nomade-link:hover{
    color:rgb(254, 254, 255);
}

/* CONSEJOS */

.consejos{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
.caja{
    width: 200px;
    height: 100px;
    line-height: 20px;
    padding: 30px;
    margin: 30px;
    text-align: center;
    font-family: nunito sans, sans-serif;
    font-weight: 700;

}
.azul{
    background-color: blue;
    color: var(--theme-color);
    border-radius: 15%;
    border: var(--theme-color) solid 1px;
    box-shadow: 2px 2px 10px var(--color-box-shadow2);
}
.verde{
    background-color: green;
    color: aliceblue;
    border-radius: 15%;
    border: var(--theme-color) solid 1px;
    box-shadow: 2px 2px 10px var(--color-box-shadow2);
}
.roja{
    background-color: red;
    color: var(--theme-color);
    border-radius: 15%;
    border:var(--theme-color) solid 1px;
    box-shadow: 2px 2px 10px var(--color-box-shadow2);
}
.naranja{
    background-color: orange;
    color: var(--theme-color);
    border-radius: 15%;
    border:var(--theme-color) solid 1px;
    box-shadow: 2px 2px 10px var(--color-box-shadow2);
}
    
/* IMAGENES */

.imagenes{
    color: var(--theme-color);
    padding: 20px;
    text-align: center;
    display: flex ;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}
.imagenes img{
    width: 250px;
    height: 150px;
    opacity: .5;
    border: 2px double var(--color-grey);
}
.imagenes img:hover{
    opacity: 1;
    border: solid;
}

/*  SERVICIOS */

.servicios{
    color: var(--color-grey);
    position: relative;
    text-align: center;
    gap: 40px;
    margin: 4rem auto;
}
.servicios li{
    text-align: center;
    color: var(--color-grey);
    display: inline-block;
    font-family: 'Orbitron', sans-serif;
    font-size: 1.6rem;
    width: 400px;
    padding: 40px;
    margin: 10px;
    box-shadow: 1px 2px 3px var(--color-grey);
    background-color: var(--color-alt1);
    border-radius: 5%;
}
.servicios li a{
    text-decoration: none;
    color: var(--color-green);
}
.servicios li:hover{
    transition: 0.1s;
    background: rgb(53,99,139);
    background: linear-gradient(90deg, rgba(53,99,139,1) 0%, rgba(0,184,191,1) 35%, rgba(0,212,255,1) 100%);
}
.servicios li a:hover{
    color:var(--theme-color);
}

/* CARDS */

.card-container{
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.card-menu {
    height: auto;
	display: flex;
    justify-content: space-around;
	max-width: 1100px;
	margin: 5rem auto;
    gap: 40px;
    flex-wrap: wrap;
}

.card-item {
    border: 18px;
    background-color: transparent;
    box-shadow: 2px 2px 10px var(--color-box-shadow2);
    text-align: center;
    width: 330px;
    border-radius: 15px;
    font-size: 1.6rem;
    color: var(--text-color-inverse);
}

.card-menu img {
    width: 50%;
}

.card-menu p{
    color: var(--text-color-inverse);
}

/*  FOOTER */

.footer-container{
    display: flex;
    justify-content: flex-end;
    text-align: center;
    line-height: 60px;
}

.footer h4{
    font-size: 1.2rem;
    padding: 0 10px;
}

.top{
    font-size: 2rem;
    color: var(--color-grey); 
}

/* DISEÑO PARA CELULAR*/

@media screen and (max-width: 600px){
    .body{
        padding-top: 70px;
    }
    
    .header{
        height: 80px;
    }

    /*.logo{
        font-size: 2.5rem;
        padding: 0 20px;
        line-height: 60px;
    }*/

    /* NAVBAR */

    .nav-menu{
        flex-direction: column;
        align-items: center;
        margin-right: 40px;
        list-style: none;
        background-color: var(--color-grey);
        position: fixed;
        left:0;
        top: 80px;
        width: 100%;
        padding: 20px 0;

        height: calc(100% - 80px);
        overflow-y: auto;
        left:0;
        transition: left 0.3s;
    }
    
    .nav-menu-item{
        line-height: 70px;
    }
    
    .nav-menu-link:hover,
    .nav-menu-link_active{
        transition: 0.5s;
        background: none;
        color: rgb(53,99,139);
        color: linear-gradient(90deg, rgba(53,99,139,1) 0%, rgba(0,184,191,1) 35%, rgba(0,212,255,1) 100%);
    }

    .nav-toggle{
        display: block;
    }

    .nav-menu_visible{
        left: 100%;
    }

    .nav-toggle:focus:not(:focus-visible){
        outline: none;
    }

    /* CONTENIDO PRINCIPAL */

    .main{
        background-size:cover;
        height: auto;
    }

       /* HERO */

    .hero p{
        display: none;
    }

    /* CONSEJOS */

    .consejos{
        flex-direction: column;
        flex-wrap: wrap;
    }
    
    /* IMAGENES */

    .imagenes{
        display: none;
        flex-direction: column;
    }

    /*  FOOTER */

    .footer-container{
        display: flex;
        justify-content: flex-end;
        line-height: 20px;
    }
}

/* DISEÑO PARA TABLETS */

@media (min-width: 600px){
    .grid-container{
        /* grid-template-columns: 200px auto;
        grid-template-rows: 100px 50px auto 100px;
        grid-template-areas: 
        "header  header"
        "navbar  navbar"
        "sidebar main"
        "footer  footer";*/
        grid-template:
        "header  header" 80px
        "rrss    rrss"   60px
        "main  main"   auto
        "footer  footer" 60px /
         auto    auto;
    }

    /* LOGO */
    
    .logo img{
        width: 80px;
        height: 50px;
    }

    .logo h1 {
        font-size: 2rem;
    }

    /* NAVBAR */

    .nav-menu-item{
        font-size: 1.2rem;
        margin: 0 10px;
        line-height: 80px;
        text-transform: uppercase;
        width: max-content;
    }

    /* RRSS */

    .rrss-menu{
        display: flex;
        justify-content:flex-end;
        text-decoration: none;
        list-style: none;
        line-height: 60px;
        padding: 0 10px;
    }

    .rrss-menu-item{
        background-color: inherit;
        padding: 0 10px;    
    }    

    .buttonside{
        text-decoration: none;
        margin: 10px;
        font-weight: 700;
    }

    .buttonside:hover{
        color: var(--theme-color);
        border: 1px solid var(--color-green);
        background: rgb(53,99,139);
        background: linear-gradient(90deg, rgba(53,99,139,1) 0%, rgba(0,184,191,1) 35%, rgba(0,212,255,1) 100%);
    }
 
    /* MAIN - CONTENIDO PRINCIPAL */
    
    /*  HERO */

    .hero h2{
        font-size: 2.5rem;
    }

    .hero p{
        font-size: 1.5rem;
    }
    
    .hero h3{
        font-size: 2rem;
    }

    p{
        font-size: 2rem;
    }

    .nomade-menu {  
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
    }

}

/* DISEÑO PARA DESKTOP */

@media (min-width: 900px){
    .grid-container{
        /* grid-template-columns: 200px auto;
        grid-template-rows: 100px 50px auto 100px;
        grid-template-areas: 
        "header  header"
        "navbar  navbar"
        "sidebar main"
        "footer  footer";*/
        grid-template:
        "header  header  header" 80px
        "rrss    rrss    rrss"  60px
        "main    main    main" auto
        "footer  footer  footer" 60px /
        auto    auto    60px;
    }

    /* LOGO */
    
    .logo img{
        width: 90px;
        height: 60px;
        line-height: 80px;
    }
    
    .logo h1 {
        font-size: 2.5rem;
    }

    /* NAVBAR */

    .nav-menu-item{
        font-size: 1.8rem;
        margin: 0 10px;
        line-height: 80px;
        text-transform: uppercase;
        width: max-content;
    }

    /* RRSS */

    .rrss-menu{
        display: flex;
        justify-content: flex-end;
        text-decoration: none;
        list-style: none;
        line-height: 60px;
        padding: 0 10px;
       
    }

    .rrss-menu-item{
        background-color: inherit;
    
    }

    /* MAIN - CONTENIDO PRINCIPAL*/

    /*  HERO */

    .hero h2{
        font-size: 3rem;
     }
        
    .hero h3{
        font-size: 2.5rem;
    }

    .hero p{
        font-size: 2rem;
    }
}