@import url('https://fonts.googleapis.com/css2?family=Nothing+You+Could+Do&family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;1,200&family=Orbitron:wght@900&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    height: 100%;
}

body{
    font-family: 'Nunito Sans', sans-serif;
    font-size: 1.2rem;
    min-height: 100%;
}

.grid-container > *{
    box-shadow: -1px 1px 7px 0px rgba(0, 0, 0, 0.75);
    border: 4px;
    padding: 10px;
    text-align: center;
}

.header{
    grid-area: header;
    background-color: lightblue;
}

.navbar{
    grid-area: navbar;
    background-color: lightgreen;
}

.sidebar{
    grid-area: sidebar;
    background-color: lightsalmon;
}

.main{
    grid-area: main;
    background-color: whitesmoke;
}

.footer{
    grid-area: footer;
    background-color: lightcyan;
}

.grid-container{
    display: grid;
    gap: 10px;
    grid-template-areas: 
    "header"
    "navbar"
    "sidebar"
    "main"
    "footer";
}

/* Diseño para celulares dando un alto especifico para las filas

.grid-container{
    display: grid;
    gap: 10px;
    grid-template: 
    "header" 100px
    "navbar"  50px
    "sidebar" auto
    "main"   100px
    "footer" 100px;
}*/

/* Diseño para Desktop */

@media (min-width: 600px){
    .grid-container{
        /* grid-template-columns: 200px auto;
        grid-template-rows: 100px 50px auto 100px;
        grid-template-areas: 
        "header  header"
        "navbar  navbar"
        "sidebar main"
        "footer  footer";*/
        grid-template:
        "header  header" 100px
        "navbar  navbar" 50px
        "sidebar main"   auto
        "footer  footer" 100px /
        200px    auto;
    }
}

/* Diseño para Desktop */

@media (min-width: 900px){
    .grid-container{
        /* grid-template-columns: 200px auto;
        grid-template-rows: 100px 50px auto 100px;
        grid-template-areas: 
        "header  header"
        "navbar  navbar"
        "sidebar main"
        "footer  footer";*/
        grid-template:
        "header  header  header" 80px
        "navbar  main    sidebar" auto
        "footer  footer  footer" 80px /
        200px    auto    200px;
    }
}

